[user]
	email = andrew@umbrant.com
	name = Andrew Wang
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
