[user]
	email = andrew.wang@airtable.com
	name = Andrew Wang
[alias]
	st = status
	stat = status
	co = checkout
	br = branch
	re = rebase
	ci = commit
	cp = cherry-pick
[core]
	editor = vim
	autocrlf = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[diff]
	tool = meld
	binary = true
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
[log]
	decorate = full
[format]
	pretty = medium
[push]
	default = simple
[credential]
	helper = cache
[pack]
	windowMemory = 100m
	sizeLimit = 100m
	threads = 1
[pager]
	branch = false
